---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="scroll-plugin">
  <div class="scroll-plugin__container">
    <section class="section section_1">Section1<button class="btn">werwe</button></section>
    <section class="section section_2">Section2</section>
    <section class="section section_3">Section3</section>
    <section class="section section_4">Section4</section>
    <section class="section section_5">Section5</section>
    <section class="section section_6">Section6</section>
  </div>
</div>




{% endblock %}
